<section class="landing-page-section text-center m-3">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-3">
      <div class="bg-white border rounded shadow pb-3 ps-3 pe-3">
        <div class="landing-page-img-container">
          <img class="landing-page-logo mw-100" src="assets/img/logo.png" />
        </div>

        <div class="example-container">
          <button
            type="button"
            class="login-with-btn google-btn-img margin-bottom-10"
            matRipple
            (click)="ssoLogin(ssoProviders.google)"
          >
            {{ "general.buttons.googleSignIn" | translate }}
          </button>
          <button
            type="button"
            class="login-with-btn twitter-btn-img margin-bottom-10"
            matRipple
            (click)="ssoLogin(ssoProviders.twitter)"
          >
            {{ "general.buttons.twitterSignIn" | translate }}
          </button>
          <button
            type="button"
            class="login-with-btn facebook-btn-img margin-bottom-10"
            matRipple
            (click)="ssoLogin(ssoProviders.facebook)"
          >
            {{ "general.buttons.facebookSignIn" | translate }}
          </button>
          <button
            type="button"
            class="login-with-btn github-btn-img margin-bottom-10"
            matRipple
            (click)="ssoLogin(ssoProviders.github)"
          >
            {{ "general.buttons.githubSignIn" | translate }}
          </button>
          <button
            type="button"
            class="login-with-btn apple-btn-img"
            matRipple
            (click)="ssoLogin(ssoProviders.apple)"
          >
            {{ "general.buttons.appleSignIn" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
