<div class="row user-container">
  <div class="vertical-center text-center">
    <app-user-info [user]="user"></app-user-info>
  </div>
</div>

<mat-action-list>
  <button (click)="closeMenus()" mat-list-item [routerLink]="['/dashboard']">
    <mat-icon mat-list-icon>desktop_windows</mat-icon>
    {{ "general.dashboard" | translate }}
  </button>
</mat-action-list>

<mat-divider></mat-divider>

<mat-accordion>
  <mat-expansion-panel *ngFor="let menu of menus" class="no-box-shadow">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ menu.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-nav-list>
      <mat-list-item
        *ngFor="let submenu of menu.values"
        [routerLink]="submenu.path"
        (click)="closeMenus()"
      >
        <button mat-icon-button>
          <mat-icon>{{ submenu.icon }}</mat-icon>
        </button>
        <span matLine>{{ submenu.name }}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>

<mat-divider></mat-divider>

<mat-action-list>
  <button mat-list-item (click)="userLogout(); closeMenus();">
    <mat-icon mat-list-icon>logout</mat-icon>
    {{ "general.buttons.logOut" | translate }}
  </button>
</mat-action-list>
