.user-container {
    height: 200px;
    position: relative;
    margin-top: 20px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.text-center {
    text-align: center;
}
