<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav class="sidebar-width" mode="over" role="navigation">
    <app-nav-menu (closeSideBar)="sidenav.close()"></app-nav-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-container">
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>

      <div class="body-container">
        <router-outlet></router-outlet>
      </div>
    </div>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
