<div class="logout" fxHide="{{ !user }}">
    <button class="user-icon" mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
        (mouseover)="menuTrigger.openMenu()">
        <mat-icon class="black-icon">perm_identity</mat-icon>
    </button>

    <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ user?.name }}</mat-card-title>
                <mat-card-subtitle>{{ user?.email }}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <span (mouseleave)="menuTrigger.closeMenu()">
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </button>
        </span>
    </mat-menu>
</div>